a { text-decoration:none; color:inherit; cursor:pointer; }
button { background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer; }
figure{ margin:0; }
ul, ol, dd { margin:0; padding:0; list-style:none; }
h1, h2, h3, h4, h5, h6 { margin:0; font-size:inherit; font-weight:inherit;font-family: "Microsoft Jhenghei",微軟正黑體; }
p { margin:0;  font-family: "Microsoft Jhenghei",微軟正黑體;}
cite { font-style:normal; }
fieldset { border-width:0; padding:0; margin:0; }
*{
    box-sizing: border-box;
}
html, body { 
    font-size: large;
    margin:0;
    padding: 0;
    position: relative;
    height: 100%;
}

h1{
    font-size: 1rem;
    letter-spacing:0.08rem;
    margin: 0 5px;
    color: #222;
    
}
h2{
    font-size: 1rem;
    color: #222;
    line-height: 1.3rem;
    letter-spacing: 0.8px;
    
}
h3{
    font-size: 1rem;
    //color: #707070;
    color: #565656;
    font-weight: bold;
    //font-weight: bold;
}
h4{
    font-size:1.87rem ;
    color: #565656;
    font-weight: bold;
    letter-spacing:0.2rem;
}
h5{
    font-size:0.75rem ;
    //font-weight: 700;
    color:#707070;
    font-weight: 500;
    
}
h6{
    font-size:20px ;
    
    color: rgb(65, 65, 65);

}

@-webkit-keyframes animate01{
    0% {
        transform:translate3d(0, 0, 0)
       }
       100% {
        transform:translate3d(-3000px, 0, 0)
       }
}

@-webkit-keyframes animate02{
    0% {
        transform:translateY(0);
       }
       50% {
        transform:translateY(10px)
       }

       100% {
        transform:translateY(0)
       }
}


header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
    .svgAnimte{
        position: relative;
        display: flex;
        width: 5000px;
        height: 270px;
        //background: saddlebrown;
        bottom: 0;
        background-image: url('/image/tech_serch/headerSVG01.svg');
        background-repeat: repeat-x;
        background-size: contain;
        animation: animate01 200s linear infinite;
        background-color: #d0eae9;
       
    }
    .bot{
        
        display:flex;
        height: 100px;
        width: 100vw;
        
     


        img{
       
            object-position: top;
            object-fit: contain;
              
            
            width:100%;
        }

    }
    .book{
        display: flex;
        width: 400px;
        height: 270px;
        //background: pink;
        background-image: url('/image/tech_serch/headerSVG02.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        animation: animate02 7s linear infinite;        
        right:10%;
        top: 85px;
        
        position: absolute;
    }
    .mainNav{
        position: absolute;
        display: flex;
        width: 100%;
        height: fit-content;
        left: 0;
        bottom: 8%;
        justify-content: center;
        align-items: center;
        .menu{
            
            display: flex;
            max-width: 1300px;
            width: 100%;
            border-radius: 25px;
                background: white;
                box-shadow: 0 1px 1px rgb(0 0 0 / 8%), 0 1px 8px rgb(0 0 0 / 8%);
            .menu-button{
                display: flex;
                height: 4rem;
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                transition: background-color 0.35s ,transform 0.5s;
                border-radius: 10px;
                margin: 0 0.3%;
              
                    h1{
                        transition: color 0.35s;
                    }
                a{
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                
            }
            .menu-button:first-child{
               margin-left: 25px;
            }
            .menu-button:last-child{
               margin-right:25px ;
            }
            .menu-button:nth-child(2){
                background-color: #5CB774;
        transform: translateY(-5px);
                
                h1{
                   color:white ; 
                }
            }
            
        }
        

    }
}

//內頁
.innerHtml{
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: center;
    flex-direction: column;
    nav.firstTime{
        max-width: 1300px;
        width: 100%;
        
        
        display: flex;
        justify-content: center;
        margin: 1% 0;
        
        ul{
            
            width: 40%;
            height: 2.5rem;
            //background: #f4f4f4;
            display: flex;
            position: relative;
   
            span{
                display: block;
                width: 50%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: #5CB774;
                border-radius: 50px 0 0 50px;
                z-index: 0;
                box-shadow: inset 0px 1px 1px 0px rgb(0 0 0 / 12%), inset 0 1px 8px rgb(0 0 0 / 28%);
                transition:border-radius 0.5s,transform 0.35s,box-shadow 0.3s;
                
            }
            span.active{
                transform: translateX(100%);
                border-radius: 0 50px 50px 0;
                

            }
            span.up{
                box-shadow: initial;
            }
            
            li{
                //border: 1px solid saddlebrown;
                display: flex;
                position: relative;
                flex: 1;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition-delay: 0.1s;
                transition: box-shadow 0.1s ease-in-out;
                
                h2{
                    z-index: 1;
                }
                

                
            }
            li:after{
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                box-shadow: 0 1px 1px rgb(0 0 0 / 2%), 0 1px 4px rgb(0 0 0 / 19%);
                transition: box-shadow 0.1s ease-in-out;
                
            }
            li:first-child{                
                //box-shadow: inset 0px 1px 1px 0px rgb(0 0 0 / 12%), inset 0 1px 8px rgb(0 0 0 / 28%);
                border-radius: 50px 0 0 50px;
                h2{
                     color: white;
                     transform:scale(0.98);
                     
                }
                
                
            }
            li:first-child:after{
                border-radius: 50px 0 0 50px;
            }
            li:nth-child(2){
                border-radius: 0 50px 50px 0;
            }
            li:nth-child(2):after{
                border-radius: 0 50px 50px 0;
            }


          
            
            
            
            
        }

    }
    nav.serch{
        display: flex;
        max-width: 1300px;
        width: 100%;    
        margin:2% 0 0 0;
        form{
            width: 100%;
            
            select{
                -webkit-appearance: none;
                -moz-appearance: none;
                background: transparent;
                border: 1px solid #dfdfdf;
                //padding: 0.6rem;
                //padding-right: 2rem;
                width: 100%;
                color: #bbbbbb;
                font-size: 0.9rem;
                //padding: 0;
                height: fit-content;
                position: absolute;
                top: 100%;
                left: 0;
                transform:scaleY(0);
                transform-origin:top center;
                overflow: hidden;
                box-shadow: #2222220d 1px 1px 2px;
                cursor: pointer;
                z-index: 1;
               
                option{
                    border: none;
                    outline: none;
                    color: #222;   
                   font-size: 0.95rem;     
                   background: white;  
                   margin: 0;
                   padding: 0.5rem;
                   width: 100%;
                   height: 100%;
                   
                  
               
                    
             
                }
                option:hover{
                    background: #9DDCA7;
                    transition: background 0.3s;
                }
               
               
                
                
              
            }
         
            select:focus{
                width: 100%;
                height: fit-content;
                overflow: hidden;  
                
                
             
                outline:  none;
               
                
                option:checked,
                option:active,
                option:focus {
                    background: linear-gradient(#9DDCA7, #9DDCA7);
                    position: relative;   
                    
                }
                option:checked:before {
                    color: #222;
                    position: absolute;
                    content: attr(data-content);
                }
                
            }  
   
        }
        form>ul{
            display: flex;
            width: 100%;
            justify-content: center;
            >li{
                display: flex;
                flex: 1;
                flex-direction: column;
                max-width: 250px;
                //justify-content: center;
                align-items: center;
                //background-color: pink;
                h3{
                    
                }

                >div.top{
                    display: flex;
                   
                    //justify-content: center;
                //align-items: center; 
                position: relative;    
                //background: beige;      
                width: 80%; 
                    >span{
                        display: flex;
                        margin-right: 0.3rem;
                        img{
                            align-self: center;
                            height:75%;
                        }
                    }   
                   
                }

                >div:nth-child(2){
                    //background: saddlebrown;
                    width: 80%;
                    input[type="text"]{
                        border-radius: 10px;
                        border: 1px solid #eee;
                        //background: #5cb875;
                        padding: 0.5rem 0rem 0.5rem 0.8rem ; 
                               
                        margin-top: 0.3rem;
                        font-size: 0.92rem;
                        transform: translateX(-0.2em);
                        width: 12rem;
                        transition: width 0.35s;
                        background: #eee;
                    
                    }
                    input[type="text"]::placeholder{
                        color: rgba(0, 0, 0, 0.3);
                        font-family:"Microsoft Jhenghei",微軟正黑體,FontAwesome;
                        transition: all 0.35s;
                      }
                   
                      input[type="text"]:focus{
                         border: 1px solid  #5cb875;
                          outline: none;
                          color:#222;
                          font-family:"Microsoft Jhenghei",微軟正黑體,FontAwesome;
                          font-size: 0.9rem;
                          width: 14rem;
                          background: none;

                      }
                      input[type="text"]:focus::placeholder{
                        color:  #5cb875;
                      }
                      .select{
                          position: relative;
                          width: 100%;
                          max-width: 200px;
                          margin-top: 2%;
                          border: 1px solid #ced4da;
                          border-radius: 10px;
                          padding: 0.5rem 0.5rem 0.5rem 0.8rem;
                          color: #bbbbbb;
                            font-size: 0.9rem;
                            cursor: pointer;
                            h3{
                                color: #707070;
                                font-size: 0.9rem;
                            }
                            h3.checked{
                                color:#707070;
                            }
                      }
                      
                      .select::after{
                        content: "▾";
                        position: absolute;
                        top: -2px;
                        right: 5px;
                        color: #707070;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        font-size: 1.7rem;
                        z-index: -1;
                      }
                      .select.active>select{
                        transform: scaleY(1);
                        transition:transform 0.2s ;
                       
                      
                        
                    }

                }

            }
            li:nth-child(1)>.top>span{
                margin-right: 0.1rem;
            }
        }
        form>ul>li:nth-child(1){
         
            max-width: 200px;
        }
 

    }
    nav.tech_title{
        display: flex;
        width: 100%;
        max-width: 1300px;
        position: relative;
        //border: 1px solid saddlebrown;
        justify-content: center;
        align-items: flex-start;
        margin: 5rem 0 0 0;
        flex-direction: column;
        >h4{
            margin-left: 3%;
            position: relative;
            z-index: 1;
        }
        >h4::after{
            content: '';
            display: block;
            position: absolute;
            bottom: 15px;
            left: 70%;
            width: 50%;
            height: 40px;
            background-color: #76db91c5;
            z-index: -1;
            border-radius: 3px;
        }
        // >h4::before{
        //     content: '';
        //     display: block;
        //     position: absolute;
        //     bottom: 0;
        //     left: 70%;
        //     width: 1px;
        //     height: 20%;
        //     background-color: #5cb875;
        // }
        >h5{
            margin-left: 3.2%;
            margin-top:0.5%;
            color: #5cb875;
            font-weight: bold;
        }
        ul{
            display: flex;
            margin:2rem 0 1rem;
            li{
                >div{
                    
                    padding:0.3rem 0.6rem;
                    margin:0 0.3rem;
                    border-radius: 5px;
                    cursor: pointer;
                    border: 1px solid #ced4da7d;
                    transition: background 0.4s;
                    box-shadow: rgb(24 36 26 / 3%) 0px 1px 0px, rgb(31 50 33 / 15%) 0px 0px 4px;
                   
                }
                >div.active{
                    background: #5cb774;
                    h5{
                        color: white;
                    }
                }
                form{
                    display: flex;
                    align-items: center;
                    height: 100%;
                    margin: 0 0 0 1rem;
                    p{
                        font-size:0.9rem ;
                        color: #565656;
                        
                    }
                    input{
                        margin: 0 0.3rem;
                        font-size: 0.8rem;
                        color: #565656;
                        cursor: pointer;
                    }
                    input[type="date"]{
                        border: 1px solid #ccc;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        position: relative;
                        height: 96%;
                        border-radius: 4px;
                        transition: background 0.3s,color 0.3s;
                        //padding: 0 0.7rem 0 1.5rem;
                        
                    }
                    input[type="date"]:focus{
                        outline: none;
                        //background: #5cb875;
                        color: #5cb875;
                        border: 1px solid #5cb875;
                    }
                    input[type="date"]::before{
                        position: absolute;
                        content: '';
                        //background: red;
                        background-image: url('/image/tech_serch/icon-13.png');
                        background-repeat: no-repeat;
                        background-position: center;
                        display: block;
                        width: 1.7rem;
                        height: 100%;
                    }
                    ::-webkit-datetime-edit { 
                       padding: 0 0.15rem 0 2rem; 
            
                        
                    }
                    ::-webkit-datetime-edit-fields-wrapper { 
                        //background: silver; 
                        //margin-left: 0.1rem;
                        
                       
                        
                        //padding: 0.2rem;
                    }
                    ::-webkit-datetime-edit-text { 
                        //color: red; 
                        //padding: 0 0.3em; 
                    }
                    //::-webkit-datetime-edit-month-field { color: blue; }
                    //::-webkit-datetime-edit-day-field { color: green; }
                    ::-webkit-datetime-edit-year-field {
                         //color: pink; 
                         margin: 0;
                         padding: 0;
                         //transition:color 0.3s;
                        }
                        ::-webkit-datetime-edit-year-field:focus {
                            //color: pink; 
                            margin: 0;
                            padding: 0;
                            background-color: transparent;
                            color: #5cb875;
                           }
                    ::-webkit-inner-spin-button { display: none; }
                    ::-webkit-calendar-picker-indicator { 
                        //background: orange; 
                        position: absolute;
                        width: 100%;
                        cursor: pointer;
                        padding: 2rem;
                        background-image:none;
                       
                        
                  
                    }
                    input[type="submit"]{
                        background: #5cb774;
                        outline: none;
                        border: none;
                        color: white;
                        padding: 0.27rem 0.8rem;
                        letter-spacing:0.1rem;
                        border-radius: 5px;
                        transition:background 0.4s;
                        
                    }
                    input[type="reset"]{
                        background: rgb(71, 77, 87);
                        outline: none;
                        border: none;
                        color: #9b9ea3;
                        padding: 0.27rem 0.8rem;
                        letter-spacing:0.1rem;
                        border-radius: 5px;
                        transition:  color 0.4s;
                        
                    }
                }
            }
        }
    }
    .techInner{
        display: flex;
        width: 1300px;
        height: 800px;
        border: 1px solid saddlebrown;
        //margin-top: 80px;
    }

}
//日期按鈕hover
.innerHtml nav.tech_title ul li > div:hover{
    background: #5cb774;
    
    h5{
        color: white;
        transition:color 0.4s;
    }
}
//查詢hover
.innerHtml nav.tech_title ul li form input[type=submit]:hover{
    background:#4f9d63;
    
}
//重置hover
.innerHtml nav.tech_title ul li form input[type=reset]:hover{
    color:white;
    
}
/* 只有平板以上有 */
@media only screen and (min-width: 769px){
    //選單hover
    header .mainNav .menu .menu-button:hover{
        background-color: #5CB774;
        transform: translateY(-5px);
    }
    header .mainNav .menu .menu-button:hover h1{
        color: white;
    }
    //初訓nav hover
    .innerHtml nav.firstTime ul li:hover{
        box-shadow: inset 0px 1px 1px 0px rgb(0 0 0 / 12%), inset 0 1px 8px rgb(0 0 0 / 28%);       
        h2{
            //color: white;
            transform:scale(0.98);
        }
        
    }
    .innerHtml nav.firstTime ul li:hover::after{
        box-shadow:initial;
    }
 
//結束
}
/* 平板與大手機 RWD*/

@media only screen and (min-width: 769px) and (max-width: 1200px){

// 平板與大手機 RWD結束
}

//手機板RWD
@media only screen and (max-width: 768px){

//結束
}

